/* Global Styles */
body {
    font-family: 'Montserrat', Montserrat;
    margin: 0;
    padding: 0;
    background-color: #F8F5F2;
    color: #14213D;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Raleway', Raleway;
}

/* Navigation Bar */
nav {
    background-color: #E3C567;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #14213D;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Sections */
section {
    padding: 20px 10%;
    text-align: center;
    border: 1px solid #5B197E; /* This helps you see the section boundaries */
}

/* Home Section */
#home {
    background-color: #F8F5F2;
    color: #5B197E;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%; /* Adjust padding for better spacing */
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.profile-text {
    flex: 1; /* Takes available space */
    text-align: center; /* Centers text horizontally */
}



/* About Section */
#about {
    background-color: #F8F5F2;
    color: #5B197E;
}

/* Services Section */
#services {
    background-color: #F8F5F2;
    color: #5B197E;
}

#services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#services li {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services li i {
    margin-right: 10px;
    color: #14213D;
}

/* Tools Section */
#tools {
    background-color: #F8F5F2;
    padding: 60px 20px;
    text-align: center;
    color: #14213D;
}

#tools h2 span {
    color: #14213D;
}

.tools-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 5px;
}

.tool img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: #F8F5F2;
    padding: 5px;
    border-radius: 10%;
}

.tool p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* Projects Section */
#projects {
    background-color: #0068FF;
    color: white;
}

#projects a {
    color: #E3C567;
    font-weight: bold;
}

/* Contact Section */
#contact {
    background-color: #F8F5F2;
    color: #5B197E;
}

#contact a {
    color: #5B197E;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    section {
        padding: 80px 10%;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }
}
